<!DOCTYPE html>
<html>
  <head>
    <title>Join the  community on Slack!</title>
    <style>
      body {
        padding: 50px;
        font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
      }
      input {
        font-size: 24px;
        width: 400px;
      }
    </style>
  </head>
  <body>
    <h1><% message %></h1>
    <h2><% error.status %></h2>
    <pre><%= error.stack %></pre>
  </body>
</html>