<!DOCTYPE html>
<html>
<head>
  <title>Join the <%= community %> community on Slack!</title>
  <link href="/styles/main.css" rel="stylesheet">
  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
</head>
<body>
  <header>
    <div class="container">
      <div class="row">
      </div>
      <div class="row">
        <div class="col-lg-12">
          <img class="img-responsive" src="img/builder.png" alt="">
          <div class="intro-text">
            <span class="name bold underline"><%= community %></span>
            <span class="name">Join the community on Slack!</span>
            <hr class="star-light">
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-sm-offset-3">
        <form method="POST" action="/invite" id="join-form">
          <div class="form-group">
            <div class="input-group">
              <input type="email" name="email" class="form-control" id="slack-email" placeholder="Enter your email i.e. email@company.com">
              <span class="input-group-btn">
                <button class="btn btn-danger" type="submit">Go!</button>
              </span>
            </div>
          </div>
        </form>
      </div>
    </div>
  </header>
  <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script> -->
  <script>
    var form = document.getElementById('join-form');
    var email = document.getElementById('slack-email')
    form.addEventListener('submit', function(evt) {
      if (!email.value) {
        evt.preventDefault();
      }
    });
  </script>
</body>
</html>